.container_NabBar{
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: auto;
    background-color: #342316;
}

.container_NabBar > div > h1 {
    background-color: transparent;
}


.container_buttons_navBar{
    display: flex;
    justify-content: space-between;
    width: 40vw;
}
