.container_page_not_found > img{
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center center; 
    height: 100%;

}

.container_page_not_found{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media (max-width: 768px) {
    .container_page_not_found > img{
        justify-content: flex-start;
        width: 100vw;
        height: 50%;
    }
}