.container_recipe_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_recipeCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  border-radius: 4px;
  width: 48vw;
  height: 40vh;
}

.recipe_text {
  width: 100%;
  text-align: left;
  color: white;
  overflow-y: hidden;
  overflow-x: hidden;
  border-left: white 2px solid;
}

.recipe_text::-webkit-scrollbar {
  width: 12px;
}

.ingredient_image {
  display: flex;
}

.recipe_text::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5px;
}

.recipe_text::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 5px;
}

.recipe_image > img {
  width: 20vw;
  border-radius: 6px;
  max-height: 40vh;
  padding-right: 16px;
}

.recipe_title {
  font-weight: bold;
  text-align: center;
  font-size: 22px;
  margin-bottom: 10px;
}

.recipe_text > ul > li {

  list-style: none;
  margin-bottom: 4px;
  font-size: 14px;
}

.recipe_text > p{
  padding-left: 16px;
  margin-bottom: 10px;
}

.recipe_text > ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 25vh;
  padding: 10px 16px 0px 16px;
}


@media (max-width: 768px) {
  .container_recipeCard{
    width: 80vw;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
  }
  .recipe_image > img {
    width: 60vw;
    border-radius: 6px;
    max-height: 40vh;
    padding-right: 16px;
  }
  .ingredient_image{
    flex-direction: column;
  }
}