.container_recipe_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_recipeCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  border-radius: 4px;
  width: 48vw;
  height: 40vh;
}

.texto_receita {
  width: 100%;
  text-align: left;
  color: #342316;
  overflow-y: hidden;
  overflow-x: hidden;
  border-left: #8a472b 2px solid;
}

.texto_receita::-webkit-scrollbar {
  width: 12px;
}

.imagem_ingredientes {
  display: flex;
}

.texto_receita::-webkit-scrollbar-thumb {
  background-color: #8a472b;
  border-radius: 5px;
}

.texto_receita::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 5px;
}

.imagem_receita > img {
  width: 20vw;
  border-radius: 6px;
  max-height: 40vh;
  padding-right: 16px;
}

.titulo_receita {
  font-weight: bold;
  text-align: center;
  font-size: 22px;
  margin-bottom: 10px;
}

.texto_receita > ul > li {

  list-style: none;
  margin-bottom: 4px;
  font-size: 14px;
}

.texto_receita > ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 25vh;
  padding: 10px 16px 0px 16px;
}
