.ingredient_button {
    background-color: #8a472b;
    height: 40px;
    margin-bottom: 10px;
  }
  
  .button_nav_bar {
    margin-left: 8px;
  }
  
  .button_nav_bar:hover {
    border: 1px solid white;
    color: white;
  }
  
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    background-color: transparent;
    color: white;
  }
  
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }