.container_search_recipe_card{
    font-size: 20px;
    margin-bottom: 20px;
    margin-right: 40px;
    text-align: center;
    color: #342316;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.container_search_recipe_card > div:first-of-type{
    border-bottom: 2px solid #8a472b;
}

.container_search_recipe_card > div:first-of-type > p{
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search_recipe_card_image{
    width: 100px;
    margin: auto;
    margin-top: 5px;
}
.search_recipe_card_image > img{
    width: 100%;
}